body {
    font-family: Arial;
}

div > h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: left;
}

h3 {
    text-align: center;
}

th {
    background-color: lightskyblue;

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}